# Refer to the Caddy docs for more information:
# https://caddyserver.com/docs/caddyfile

{
    email example@server.tld
    local_certs
    # auto_https off
}

import snippets\global.conf
import sites\*.conf
